:root {
  --main-purp: #7c87e8;
  --bg-coral: #C3D1F5;
  --lav: #ECEBFE;
  --very-green: #36e2a8;
  --thoda-red: #ff6961;
  --islamic-green: #00b200;
  --border-purp: #4c56b2;
  --bg-grey: #f6f6f6;
  --drop-shadow1: #00000033;
  --drop-shadow2: #00000059;
}


html, body {
  background: #C3D1F5
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navBarRow {
	margin-bottom: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
