$themes: (
	default: (
		color-brand: #7c87e8,
		color-background: #C3D1F5,
		color-background-table: #f6f6f6,
		color-background-table-alternate: #ECEBFE,
		color-background-card: #ffffff,
		color-background-card-highlight: #ECEBFE,
		color-background-timetable-lab: #99D1FF,
		color-background-timetable-theory: #FFDCB5,
		color-background-timetable-secondary-header: #e5e5e5,
		color-background-button-selected: #36e2a8,
		color-text: #ffffff,
		color-text-inverted: #000000,
		color-text-other: #666666,
		color-text-clash: #ff6961,
		color-text-selected: #00b200,
		color-border-dropdown: #4c56b2,
		color-shadow: #00000033,
		color-shadow-highlight: #00000059,
	),
	eerie-black: (
		color-brand: #121317,
		color-background: #15181f,
		color-background-table: #1f2229,
		color-background-table-alternate: #1f2229,
		color-background-card: #27282C,
		color-background-card-highlight: #4993D0,
		color-background-timetable-lab: #008C7E,
		color-background-timetable-theory: #6B4896,
		color-background-timetable-secondary-header: #121317,
		color-background-button-selected: #36e2a8,
		color-text: #ffffff,
		color-text-inverted: #ffffff,
		color-text-other: #ffffff,
		color-text-clash: #ff6961,
		color-text-selected: #ffffff,
		color-border-dropdown: #1f2229,
		color-shadow: #00000033,
		color-shadow-highlight: #000000,
	),
	mellow-yellow: (
		color-brand: #FFDA76,
		color-background: #FFECC5,
		color-background-table: #f6f6f6,
		color-background-table-alternate: #FFFAE9,
		color-background-card: #ffffff,
		color-background-card-highlight: #FFFAE9,
		color-background-timetable-lab: #99D1FF,
		color-background-timetable-theory: #FFDCB5,
		color-background-timetable-secondary-header: #e5e5e5,
		color-background-button-selected: #36e2a8,
		color-text: #2F4F4F,
		color-text-inverted: #2F4F4F,
		color-text-other: #666666,
		color-text-clash: #ff6961,
		color-text-selected: #00b200,
		color-border-dropdown: #FFD156,
		color-shadow: #00000033,
		color-shadow-highlight: #00000059,
	),
	light-coral: (
		color-brand: #E87A85,
		color-background: #F4C3D1,
		color-background-table: #f6f6f6,
		color-background-table-alternate: #FFEDED,
		color-background-card: #ffffff,
		color-background-card-highlight: #FFEDED,
		color-background-timetable-lab: #99D1FF,
		color-background-timetable-theory: #FFDCB5,
		color-background-timetable-secondary-header: #e5e5e5,
		color-background-button-selected: #36e2a8,
		color-text: #ffffff,
		color-text-inverted: #000000,
		color-text-other: #666666,
		color-text-clash: #ff6961,
		color-text-selected: #00b200,
		color-border-dropdown: #B24C56,
		color-shadow: #00000033,
		color-shadow-highlight: #00000059,
	),
	pretty-green: (
		color-brand: #7AE88B,
		color-background: #C6F4C3,
		color-background-table: #f6f6f6,
		color-background-table-alternate: #EDFFF2,
		color-background-card: #ffffff,
		color-background-card-highlight: #EDFFF2,
		color-background-timetable-lab: #99D1FF,
		color-background-timetable-theory: #FFDCB5,
		color-background-timetable-secondary-header: #e5e5e5,
		color-background-button-selected: #f4c2c6,
		color-text: #2F4F4F,
		color-text-inverted: #000000,
		color-text-other: #666666,
		color-text-clash: #ff6961,
		color-text-selected: #00b200,
		color-border-dropdown: #4CB25C,
		color-shadow: #00000033,
		color-shadow-highlight: #00000059,
	),
	arctic-blue: (
		color-brand: #7AD7E8,
		color-background: #C3F4F2,
		color-background-table: #f6f6f6,
		color-background-table-alternate: #EDF9FF,
		color-background-card: #ffffff,
		color-background-card-highlight: #EDF9FF,
		color-background-timetable-lab: #99D1FF,
		color-background-timetable-theory: #FFDCB5,
		color-background-timetable-secondary-header: #e5e5e5,
		color-background-button-selected: #36e2a8,
		color-text: #2F4F4F,
		color-text-inverted: #000000,
		color-text-other: #666666,
		color-text-clash: #ff6961,
		color-text-selected: #00b200,
		color-border-dropdown: #1d98ae,
		color-shadow: #00000033,
		color-shadow-highlight: #00000059,
	),
	persian-pink: (
		color-brand: #E87ABC,
		color-background: #F4C3E9,
		color-background-table: #f6f6f6,
		color-background-table-alternate: #FFEDF4,
		color-background-card: #ffffff,
		color-background-card-highlight: #FFEDF4,
		color-background-timetable-lab: #99D1FF,
		color-background-timetable-theory: #FFDCB5,
		color-background-timetable-secondary-header: #e5e5e5,
		color-background-button-selected: #36e2a8,
		color-text: #ffffff,
		color-text-inverted: #000000,
		color-text-other: #666666,
		color-text-clash: #ff6961,
		color-text-selected: #00b200,
		color-border-dropdown: #B24C89,
		color-shadow: #00000033,
		color-shadow-highlight: #00000059,
	),
	solarised-dark: (
		color-brand: #6c71c4,
		color-background: #002b36, // Tring a new base color
		color-background-table: #073642,
		color-background-table-alternate: #586e75,
		color-background-card: #002b36,
		color-background-card-highlight: #073642,
		color-background-timetable-lab: #2aa198,
		color-background-timetable-theory: #b58900,
		color-background-timetable-secondary-header: #657b83,
		color-background-button-selected: #268bd2,
		color-text: #fdf6e3,
		color-text-inverted: #fdf6e3,
		color-text-other: #fdf6e3,
		color-text-clash: #d33682,
		color-text-selected: #2aa198,
		color-border-dropdown: #073642,
		color-shadow: #00000033,
		color-shadow-highlight: #000000,
	),
	solarised-light: (
		color-brand: #6c71c4,
		color-background: #fdf6e3,
		color-background-table: #eee8d5,
		color-background-table-alternate: #93a1a1,
		color-background-card: #fdf6e3,
		color-background-card-highlight: #eee8d5,
		color-background-timetable-lab: #2aa198,
		color-background-timetable-theory: #b58900,
		color-background-timetable-secondary-header: #93a1a1,
		color-background-button-selected: #268bd2,
		color-text: #eee8d5,
		color-text-inverted: #002b36,
		color-text-other: #fdf6e3,
		color-text-clash: #dc322f,
		color-text-selected: #2aa198,
		color-border-dropdown: #073642,
		color-shadow: #00000020,
		color-shadow-highlight: #00000040,
	),
);