.selectedCourseTable {
	text-align: center;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	border-radius: .7rem;
	border: none !important;
	margin: 2vh 0;
}

.selectedCourseHead {
	background-color: var(--main-purp);
	border-radius: .7rem;
	border: none !important;
}

.selectedCourseTable tr, td, th {
	border: none !important;
}

.selectedCourseBody {
	border: none !important;
	background-color: var(--bg-grey);
}

.creditsRow {
	border-top: 1px solid black !important;
}
