/*
TODO------
-add nav buttons
-fix font size for long course titles
*/

.courseTable { 
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: minmax(10em, auto);
    grid-gap: 2em;
    margin: 2% 0 0 3.5%;
    border-radius: 25px;
    border: 2px solid #B4CEFB;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    padding: 9px 20px;
    max-width: 26%;
    height: 520px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5%;
    margin-bottom: 3%;
}

.courseTable::-webkit-scrollbar { 
    width: 0 !important 
}

.courseTable div {
    /* max-width: 22em; */
    height: 80px;
}

.courses {
    border-radius: 5em;
    -webkit-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.2);
    transition: box-shadow 0.17s ease-in-out;
}

.courses:hover {
    -webkit-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.35);
    transition: box-shadow 0.17s ease-in-out;
}

.container-left {
    padding: 4% 0 0 8%;
    width: 50%;
    margin: 0;
    cursor: pointer;    
}

.container-left > h1 {
    margin:0;
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.5em;
}

.container-right {
    float: right;
    margin: -4.8em 1.5em 0 0;
}

ul {
    margin: 0;
}

.container-right > ul >li {
    list-style-type: none;
    margin: 0 0 0.33em 0;
}

.container-right-head > ul {
    padding-inline-end: 12px;
}

.container-right-head > ul >li {
    list-style-type: none;
    margin: 0 0 0.33em 0;
}

.container-right-head {
    float: right;
    margin: -4.8em 1.5em 0 0;
}