.selectedCourseTable {
	text-align: center;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	border-radius: .7rem;
	border: none !important;
	margin: 2vh 0;
}

.selectedCourseHead {
	background-color: #7c87e8;
	border-radius: .7rem;
	border: none !important;
}

.selectedCourseTable tr, td, th {
	border: none !important;
}

.selectedCourseBody {
	border: none !important;
	background-color: #f6f6f6;
}

.creditsRow {
	border-top: 1px solid black !important;
}
