/*
TODO------
-make placeholder diasappear on focus

*/
/* GLOBAL PROPERTIES:
- card 
- a 
- card-header 
- card-title 
- card-text  */

.courseTable {
    max-height: 70vh !important;
    min-height: 18vh;
    overflow: auto;
    border-radius:  0 0 .7rem .7rem;
    background-color: var(--card-background-color);
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    scrollbar-width: none;
}

.courseTable::-webkit-scrollbar { 
    width: 0 !important;
}

.card {
    border: none !important;
}

.card-header {
    border: none !important;
}

.courseList {
    column-count: 1;
}

.cardOne {
	border-radius: .7rem !important;
}

.cardOneHeader {
	border-radius: .7rem .7rem 0 0 !important;
    background-color: var(--card-header-color);
    color: var(--white);
    padding: 1.25rem 1rem 0 1rem !important;
}

.courses {
    padding: 1rem 1rem 0 1rem;
}

.courseCard {
    border-radius: 0.7rem;
    -webkit-box-shadow: 1px 1px 9px -1px var(--drop-shadow1);
    -moz-box-shadow: 1px 1px 9px -1px var(--drop-shadow1);
    box-shadow: 1px 1px 9px -1px var(--drop-shadow1);
    transition: box-shadow 0.17s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.courseCard.active {
    -webkit-box-shadow: 1px 1px 9px -1px var(--drop-shadow2);
    -moz-box-shadow: 1px 1px 9px -1px var(--drop-shadow2);
    box-shadow: 1px 1px 9px -1px var(--drop-shadow2);
    background-color: var(--card-body-color);
    cursor: default;
}

.courseCard:hover {
    -webkit-box-shadow: 1px 1px 9px -1px var(--drop-shadow2);
    -moz-box-shadow: 1px 1px 9px -1px var(--drop-shadow2);
    box-shadow: 1px 1px 9px -1px var(--drop-shadow2);
    background-color: var(--card-body-color);
    transition: box-shadow 0.17s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

.card-title {
    font-size: 1.05em;
    font-weight: bold;
    margin:0 !important;
}

.card-text {
    margin:0 !important;
}

.cardOneHeader > .courseTitle {
    font-size: 1.3em !important;
    font-weight: bold !important;
    margin: 0 !important;
}

.cardOneHeader > .courseCode {
    margin: 0 !important;
}

.cardOneHeader > .courseCredits {
    margin: 0 !important;
}

.courseCredits {
    float: right;
}

.courseSelectContainer {
    margin-top: 4rem !important;
    margin-bottom: 2rem !important;
}

.searchBarContainer {
    padding: 0 !important;
}

.curriculumDropdown {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--card-header-color) !important;
    border-radius: 0.25rem !important;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 0.05rem 0.1rem;
    height: 1.6em;
    width: 85%;
    margin:0;
}

.curriculumDropdown:focus {
    color: var(--white) !important;
    box-shadow: none !important;
}

.curriculumDropdown:active {
    color: var(--card-header-color) !important;
    box-shadow: none !important;
}

.curriculumDropdown > .btn-primary {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0;
}

.curriculumDropdown > .show {
    display: block !important;
}

.curriculumDropdown > .dropdown-menu {
    /* padding: 0 !important;
    min-width: 102% !important; */
    border: 1px solid var(--border-color);
    border-radius: 0.25rem !important;
    margin-left: -0.2rem !important;
}

.curriculumDropdown > .dropdown-menu > .dropdown-item {
    padding: 0.1rem 0.5rem !important;
    background-color: var(--white) !important;
    border-radius: 0.25rem !important;
    color: #7f7f7f !important;
}

.curriculumDropdown > .dropdown-menu > .dropdown-item:hover {
    color: black !important;
}


.searchBar {
    background-color: var(--card-header-color) !important;
    color: var(--white) !important;
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-shadow: none !important;
    padding: 0.25rem 0 0 0 !important;
    height: 1.1em !important;
    font-weight: bold;
    font-size: 1.3em;
    text-align: right;
    text-transform: uppercase;
	
}


::placeholder {
    color: var(--white) !important;
    opacity:1;
    transition: opacity 0.17s ease;
    text-transform: capitalize;

}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.17s ease;
    opacity: 0;
  }

.courseTypeFilter {
	margin: 0 !important;
	margin-right: auto !important;
    text-align: center !important;
}

.filterButton {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--card-header-color) !important;
    margin-right: 0.5rem !important;
    border: none !important;
    background-color: var(--card-background-color) ;
    color:var(--white);
    transition: color 0.17s ease-in;
}

.filterButton:hover {
    color: var(--filter-button-color);
    transition: color 0.17s ease-in;
}

.filterButton.active {
    background-color: var(--card-background-color) !important;
    color: black !important;
	transition: background-color 0.17s ease-in;
}

.filterButton.focus {
    background-color: var(--card-background-color)  !important;
    color: black !important;
    transition: background-color 0.17s ease-in;
}




@media only screen and (min-width: 420px) {

    .curriculumDropdown {
        width: 70%;
    }

}


@media only screen and (max-width: 1250px) {
    .filterButton{
        padding: 0.5rem 0.5rem;
    }
}