/* .selectedCourseContainer {
	max-width: 100vw;
} */

.selectedCourseContainer.container {
}

.selectedCourseTable {
	text-align: center;
	background-color: var(--select-table-background-color);
	cursor: default;
	border-radius: .7rem !important;
	margin: 2vh 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100%;
	overflow-x: auto;
}

th {
	font-family: 'Montserrat', sans-serif;
}

td {
	font-family: 'Montserrat', sans-serif;
}

.selectedCourseTable tr, 
.selectedCourseTable td, 
.selectedCourseTable th {
	border: none !important;
	padding: 0.25rem 1rem 0.25rem 1rem;
}

.selectedCourseHead {
	border-radius: .7rem;
	border: none !important;
	color: var(--text-color-default);
	font-size: 1.1em;
	font-weight: bold;
}

.selectedCourseHead th {
	background-color: var(--brand-color);
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.selectedCourseBody tr:nth-child(even) {
	background-color: var(--card-highlight-color);
}

.selectedCourseBody {
	border: none !important;
}

.selectedCourseBody .btn-danger {
	background-color: hsl(3, 100%, 65%);
	border-color: transparent !important;
}

.selectedCourseBody .btn-danger:hover {
	background-color: hsl(3, 100%, 55%);
	border-color: transparent !important;
}

.selectedCourseBody .btn-danger:active {
	background-color: hsl(3, 100%, 65%) !important;
	border: #eee 1px inset;

}

.selectedCourseBody .btn-danger:focus {
	box-shadow: none !important;
}


.selectedCourseHead tr {
	padding: 1rem;
}

.creditsRow {
	font-size: 1.3em;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 0.7rem;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 0.7rem;
}

table tr:first-child th:first-child {
	border-top-left-radius: 0.7rem;
}

table tr:first-child th:last-child {
	border-top-right-radius: 0.7rem;
}

@media only screen and (max-width: 991px){

	.selectedCourseContainer{
		margin-left: 0 !important;
	}

}

@media only screen and (max-width: 983px){

	.selectedCourseContainer{
		font-size: 0.9em;
	}

}

@media only screen and (max-width: 918px){

	.selectedCourseContainer{
		font-size: 0.8em;
		margin-left: auto !important;
	}

	.selectedCourseTable tr, 
	.selectedCourseTable td, 
	.selectedCourseTable th {
		border: none !important;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
	}

}

@media only screen and (max-width: 767px){

	.selectedCourseContainer{
		margin-left: 0 !important;
	}

}

@media only screen and (max-width: 690px){

	.selectedCourseBody tr td:nth-child(4){
		max-width: 15vw;
		overflow-wrap: break-word;
	}

	.selectedCourseTable tr, 
	.selectedCourseTable td, 
	.selectedCourseTable th {
		border: none !important;
		padding: 2px 4px 2px 4px;
	}

	.selectedCourseHead tr td:last-child {
		width: 16vw;
	}

	.selectedCourseBody .btn {
		padding: 4px;
		font-size: 0.7em;
	}

	tr,td {
		white-space: normal;
	}

	.selectedCourseContainer{
		margin-left: auto !important;
		font-size: 0.7em;
	}


	
}

@media only screen and (max-width: 432px){

	.selectedCourseContainer{
		font-size: 0.6em;
	}

}