.loginContainer {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(125,136,232,1), rgba(76,86,178,1));
}

.ffcsthingy {
    margin: 0 auto;
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}

.firstCard {
    display: none;
}

.secondCard {
    margin: 0 auto;
    width: 80vw;
    height: 30vh;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--select-table-background-color);

    text-align: center;
    font-weight: bold;
    color: var(--brand-color);
    font-size: 1.4rem;
}

.thirdCard {
    margin: 1rem auto;
    width: 80vw;
    height: 35vh;

    background-color: var(--select-table-background-color);
    border-radius: 1rem;

    color: var(--brand-color);
    font-weight: bold;

    line-height: 1.7em;
}

.secondCard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.thirdCard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer {
    width: 100vw;
    position: absolute;
    bottom: 1.5rem;
}

.footerText {
    margin: 0 auto;
}

@media (min-width: 1024px) {

    .ffcsthingy {
        margin: 3vh 0 0 7vw;
        font-size: 1.7rem;
    }

    .cards {
        display: flex;
        justify-content: space-evenly;
        margin-top: 7vh;
    }

    .firstCard {
        background-color: var(--select-table-background-color);
        display: block;
        width: 40vw;
        height: 45vh;
        border-radius: 1rem;
    }

    .secondCard {
        width: 35vw;
        height: 40vh;
        margin: 0;
        margin-top: 3rem;
        background: none;
    }

    .firstCard .card-body {
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .secondCard .card-body {
        justify-content: space-evenly;
    }

    .thirdCard {
        display: none;
    }

    .titleHead {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: var(--select-table-background-color);
        padding-bottom: 3rem;
    }

    .footer {
        bottom: 10rem;
        font-size: 1.2rem;
    }

    .googleButtonLink {
        width: 230px;
        margin: 0 auto;
    }
}

@media (min-width: 1500px) {
    .firstCard {
        height: 60vh;
    }

    .firstCard .card-body {
        height: 60vh;
    }
}

/* Google Button */

.google-button {
  height: 45px;
  width: 230px;
  background: white;
  color: #737373;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.google-button:focus, .google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    outline: none;
}

.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
    border: none;
  }


.google-button__icon {
  display: inline-block;
  margin: 0 0 8px 10px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
}
