.navBar {
    width: 100%;
    /* height: 5em; */
    background-color: #6D79DF !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	padding-left: 2em;
}

.navLink {
	color:white !important;
	/* margin-bottom: 2rem !important; */
}

.navDrop {
    color:white !important;
    background-color: #6D79DF;
    border: none !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.navDrop:hover {
    background-color: #6D79DF !important;
}

.navDrop:active{
    background-color: #6D79DF !important;
    border: none !important;
    box-shadow: none !important;
}

.navDrop:focus{
    background-color: #6D79DF !important;
    border: none !important;
    box-shadow: none !important;
}

.linksContainer {
    /* padding-top: 2rem; */
    padding-left: 2rem;
}



.logo {
    width: 190px;
}


.mr-auto {
    margin-right: 0 !important;
}

.navDropContainer {
    /* padding-top: 0.13rem;  */
    margin-top: 0;
    /* padding-left: 30rem;
    padding-right: 10%; */
}
