/*
TODO-----
fix search button position
maybe add input text clear on pressing enter(js)
maybe add animation to extend towards right when on focus
maybe add placeholder text highlight when hover
*/

#search-bar-placeholder{
    display: block;
    width: 27%;
    margin-left: 3.5%;
    padding: 15px;
    font-size: 1.05em;
    height:0.5em;
    border-radius: 5em;
    border:2px solid #B4CEFB;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    outline: 0 none;
    transition: box-shadow 0.17s ease-in-out;
}

#search-bar-placeholder:focus {
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.2);
    transition: box-shadow 0.17s ease-in-out;
}

#search-bar-placeholder:hover {
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.2);
    transition: box-shadow 0.17s ease-in-out;
}

input::-webkit-input-placeholder {
    font-size: 14px;
    opacity:0.7;
    font-size: relative;
    text-align: center;
}

#search-bar-placeholder:focus::-webkit-input-placeholder{
    color:transparent;
}

.material-icons {
    position: absolute;
    top: -10.36em;
}