.selectedCourseTable {
	text-align: center;
	background-color: var(--select-table-background-color);
	cursor: default;
	border-radius: .7rem !important;
	margin: 2vh 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100%;
	overflow-x: auto;
}

th {
	font-family: 'Montserrat', sans-serif;
}

td {
	font-family: 'Montserrat', sans-serif;
}

.selectedCourseTable tr, 
.selectedCourseTable td, 
.selectedCourseTable th {
	border: none !important;
	padding: 0.25rem 1rem 0.25rem 1rem;
}

.selectedCourseHead {
	border-radius: .7rem;
	border: none !important;
	color: var(--text-color-default);
	font-size: 1.1em;
	font-weight: bold;
}

.selectedCourseHead th {
	background-color: var(--brand-color);
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.selectedCourseBody tr {
	background-color: var(--select-table-background-color);
	color: var(--text-color-inverted);
}

.selectedCourseBody tr:nth-child(even) {
	background-color: var(--alternate-table-item-color);
}

.selectedCourseBody {
	border: none !important;
}

.selectedCourseHead tr {
	padding: 1rem;
}

.creditsRow {
	font-size: 1.3em;
	color: var(--text-color-inverted);
	border-radius: .7rem;
}

.trashButton {
	width: 27px;
	height: 27px;
	margin: 3px 3px 6px 3px;
	padding: 7px;
	color: white;
    background-color: hsl(3, 100%, 65%);
    border-radius: 0.25rem;
	box-shadow: 0 4px hsl(3, 100%, 55%);
	cursor: pointer;
}

.trashButton:active {
	transform: translateY(1px);
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 0.7rem;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 0.7rem;
}

table tr:first-child th:first-child {
	border-top-left-radius: 0.7rem;
}

table tr:first-child th:last-child {
	border-top-right-radius: 0.7rem;
}


@media only screen and (max-width: 1080px){

	.selectedCourseContainer{
		font-size: 0.9em;
		/* margin-left: auto !important; */
	}

	.selectedCourseBody tr td:nth-child(3){
		max-width: 25.8vw;
	}

	tr,td {
		white-space: normal;
	}

}

@media only screen and (max-width: 918px){

	.selectedCourseContainer{
		font-size: 0.8em;
		/* margin-left: auto !important; */
	}

	.selectedCourseTable tr, 
	.selectedCourseTable td, 
	.selectedCourseTable th {
		border: none !important;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
	}

}


@media only screen and (max-width: 690px){

	.selectedCourseBody tr td:nth-child(4){
		max-width: 15vw;
		overflow-wrap: break-word;
	}

	.selectedCourseBody tr td:first-child{
		max-width: 10vw;
		overflow-wrap: break-word;
	}

	.selectedCourseTable tr, 
	.selectedCourseTable td, 
	.selectedCourseTable th {
		border: none !important;
		padding: 2px 4px 2px 4px;
	}

	.selectedCourseContainer{
		/* margin-left: auto !important; */
		font-size: 0.7em;
	}
	
}

@media only screen and (max-width: 432px){

	.selectedCourseContainer{
		font-size: 0.6em;
	}

	.trashButton{
		width: 5vw;
		height: 5vw;
		margin: 0.25rem 0.25rem 0.5rem 0.25rem;
		padding: 1vw;
	}

}