/* ------TODO
-scroll hide (browser compatible)  */

.toggleCustom {
	background: var(--select-table-background-color) !important;
	border: none !important;
	color: var(--text-color-inverted) !important;
	transition: margin 0.17s ease-in-out;
	transition: padding 0.17s ease-in-out;
	transition: background-color 0.17s ease-in;
	cursor: pointer;
}

.toggleCustom.focus {
	box-shadow: none !important;
}

.toggleCustom.hover {
	border: none !important;
	background-color: var(--select-table-background-color) !important;
	transition: background-color 0.17s ease-in;
}

.toggleCustom.active {
	border: none !important;
	background-color: var(--button-highlight-color) !important;
	color: var(--text-color-default) !important;
	transition: background-color 0.17s ease-in;
}

.slotTableHeader {
	background-color: var(--brand-color);
	padding-top: 1.25rem !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.slotTableHeader > .card-header {
	background-color: transparent;
}

.slotTableContainer {
	border-radius: 0.7rem;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 2rem !important;
	margin-top: 4rem !important;
	border-bottom-left-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
}

.slotTableBody::-webkit-scrollbar {
	width: 0 !important;
}

.slotTableBody {
	max-height: 70vh;
	min-height: 18vh;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 0 0 0.7rem 0.7rem;
	background-color: var(--select-table-background-color);
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	scrollbar-width: none;
	padding: 0 1rem;
}

.cardSubtitle {
	margin-top: 0 !important;
}

.cardClashSubtitle {
	margin-top: 0 !important;
	color: var(--card-clash-text-color);
	float: right;
}

.cardSelectedSubtitle {
	margin-top: 0 !important;
	color: var(--card-selected-text-color);
	float: right;
}

.cardBody {
	border-radius: 0.7rem;
	-webkit-box-shadow: 1px 1px 9px -1px var(--dropshadow-default);
	-moz-box-shadow: 1px 1px 9px -1px var(--dropshadow-default);
	box-shadow: 1px 1px 9px -1px var(--dropshadow-default);
	cursor: pointer;
	background-color: var(--card-background-color);
	transition: box-shadow 0.17s ease-in-out;
	transition: background-color 0.1s ease-in-out;
	color: var(--text-color-inverted);
}

.cardBody:hover {
	-webkit-box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	-moz-box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	background-color: var(--card-highlight-color);
	transition: box-shadow 0.17s ease-in-out;
	transition: background-color 0.1s ease-in-out;
}

.cardBody:active {
	background-color: var(--button-highlight-color);
}

.cardBodyClash {
	border-radius: 0.7rem;
	-webkit-box-shadow: 1px 1px 9px -1px var(--dropshadow-default);
	-moz-box-shadow: 1px 1px 9px -1px var(--dropshadow-default);
	box-shadow: 1px 1px 9px -1px var(--dropshadow-default);
	cursor: pointer;
	background-color: var(--card-background-color);
	transition: box-shadow 0.17s ease-in-out;
	transition: background-color 0.1s ease-in-out;
	color: var(--text-color-inverted);
}

.cardBodyClash:hover {
	-webkit-box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	-moz-box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	background-color: var(--card-highlight-color);
	transition: box-shadow 0.17s ease-in-out;
	transition: background-color 0.1s ease-in-out;
}

.cardBodyClash:active {
	background-color: var(--card-clash-text-color);
	color: var(--text-color-inverted);
}

.cardBodySelected {
	border-radius: 0.7rem;
	-webkit-box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	-moz-box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	box-shadow: 1px 1px 9px -1px var(--dropshadow-highlight);
	cursor: default;
	background-color: var(--card-highlight-color) !important;
	transition: box-shadow 0.17s ease-in-out;
	color: var(--text-color-inverted);
}

.cardContainer {
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
	background-color: var(--card-background-color);
	border-radius: 0.7rem;
}

.cardContainer:hover {
	background-color: var(--card-highlight-color) !important;
}

.slotFilterContainer {
	text-align: left;
	padding-top: 0.9rem;
}

.slotTableHeader {
	min-height: 7.5em;
	position: sticky;
	border-top-right-radius: 0.7rem !important;
	border-top-left-radius: 0.7rem !important;
}

@media only screen and (min-width: 576px) {
	.slotFilterContainer {
		text-align: right;
		padding-top: 0;
	}
	.slotTableHeader {
		min-height: 4.95em;
	}

	.slotTableBody {
		height: 80vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 978px) {
	.slotTableContainer {
		padding-left: 0;
	}

	.slotTableContainer .toggleCustom {
		font-size: 0.8em;
	}

	.slotTableContainer .slotFilterContainer {
		padding-left: 0;
	}

	.slotTableContainer .cardSubtitle {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 768px) {
	.slotTableContainer {
		padding-top: 0;
	}

	.slotTableContainer .slotFilter {
		padding-bottom: 0;
	}
}

@media (max-width: 576px) {
	.slotTableContainer .slotFilterContainer {
		padding-left: 15px;
	}
}
