@import './utilities/mixins';

.dropdownButtonGroupContainer {
	font-family: 'Montserrat', sans-serif;

	& div:global(.btn-group) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}

.button {
	composes: customButton from './baseStyles/CustomButton.module.scss';

	margin: 0.5rem 1rem;
	flex-grow: 0 !important;
	
	@media only screen and (max-width: 768px) {
		flex-basis: 25%;
		
		// Alternate solution
		// &:nth-child(3) {
		// 	page-break-after: always; /* CSS 2.1 syntax */
		// 	break-after: always; /* New syntax */
		// }
	}
	
}

.dropdownButton {
	composes: customDropdownButton from './baseStyles/CustomDropdownButton.module.scss';

	height: 2.5rem;
}

// The Dropdown.Menu item inside NavDropdown
.dropdownMenu {
	@include theme-aware('background-color', 'color-background-table');
	padding: 0;
	margin-top: 1rem;
	border: none;
	border-radius: 0.5rem;
	overflow-y: auto;
	max-height: 60vh;
	width: auto;

	.dropdownItem {
		@include theme-aware('color', 'color-text-inverted');
		padding: 0.5rem 1rem;
		outline: 0;
		font-weight: bold;

		.dropdownDivider {
			margin: 0;
			width: 100%;
		}

		&:hover {
			@include theme-aware('background-color', 'color-background-table-alternate');
		}

		&.selected {
			@include theme-aware('background-color', 'color-background-table-alternate');
		}
	}
}

.form {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 1rem;
	width: 15rem;

	.inputField {
		width: 11rem;

		border-radius: 0.5rem;
		border: none !important;
		margin-top: 0.3rem;
		display: initial;

		&::selection {
			@include theme-aware('background-color', 'color-background-card-highlight');
		}

		&:focus {
			@include theme-aware-shadow(0 0 0 0.1rem, 'color-background-card-highlight');
		}

		&::placeholder {
			@include theme-aware('color', 'color-text-other');
			opacity: 1;
			transition: opacity 0.17s ease;
		}

		&[placeholder]:focus::-webkit-input-placeholder,
		&[placeholder]:focus::-moz-placeholder {
			transition: opacity 0.17s ease;
			opacity: 0;
		}
	}

	.customButton {
		font-size: 0.9rem;
	}
}
