.timetableContainer {
	margin-top: 1rem;
	font-family: 'Montserrat', sans-serif;
	padding-right: 1rem;
	padding-left: 1rem !important;
	font-size: 0.6em;
	/* margin-right: 1rem; */
	cursor: default;
}

.morningIcon {
	height: 35px;
	width: 35px;
	margin-left: -0.5rem;
}

.eveningIcon {
	height: 35px;
	width: 35px;
	margin-bottom: -0.9rem;
	margin-left: -0.5rem;
	margin-top: 1rem;
	/* color: rgb(224, 189, 100); */
	color: hsl(39, 70%, 60%);
}

.timetableA {
	width: 100%;
}

.timetableB {
	width: 100%;
	position: relative;
	z-index: 1;
}

.timetableBody tr {
	border: none !important;
}


table tr:last-child th:first-child {
	border-bottom-left-radius: 0.7rem;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 0.7rem;
}

table tr:first-child th:first-child {
	border-top-left-radius: 0.7rem;
}

table tr:first-child td:last-child {
	border-top-right-radius: 0.7rem;
}

@media only screen and (min-width: 768px) {
	.timetableContainer {
		width: 100%;
		margin-top: 2rem;
		font-size: 1em;
		overflow-x: auto;
	}

	.timetable {
		width: 100%;
	}

	.timetableBody tr {
		border: none !important;
	}

	.timetableHeader1 td {
		background-color: var(--brand-color);
	}

	.timetableHeader2 td {
		background-color: var(--brand-color);
	}
}
