.toastContainer {
    position: fixed;
    top: 7vh;
    right: 1vw;
    z-index: 2000;
}

.syncIcon {
    margin-right: 20px;
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
}

.timetableIcon {
    margin-left: 10px;
}

.heatmapIcon {
    margin-left: 10px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}