.dropdownButtonGroupContainer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.dropdownButton, .dropdownButtonGroup .dropdown .btn-primary{
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    background-color: var(--brand-color);
    border-radius: 0.5rem !important;
    border: none;
    box-shadow: 0 6px var(--dropdown-border-color);
}

.dropdownButton:active, .dropdownButtonGroup .dropdown .btn-primary:active{
    background-color: var(--brand-color) !important;
    transform: translateY(2px);
    box-shadow: 0 6px var(--dropdown-border-color) !important;
    border: none;

}

.dropdownButton:hover, .dropdownButtonGroup .dropdown .btn-primary:hover{
    background-color: var(--brand-color) !important;
    border-color: var(--dropdown-border-color) !important;
    background-color: var(--brand-color) !important;
}

.dropdownButton:focus, .dropdownButtonGroup .dropdown .btn-primary:focus{
    box-shadow: 0 6px var(--dropdown-border-color) !important;
}

.dropdownButtonGroup .dropdown, .dropdownButtonGroup .dropdownButton {
    margin-right: 1rem;
}

.dropdownButtonGroup .dropdown .dropdown-toggle{
    max-width: 30vw;
    overflow-wrap: break-word;
    white-space: normal;
}

.dropdownButtonGroup .dropdownButton {
    max-height: 36px;
    width: 40px;
}

.dropdownButtonGroup .show {
    margin-top: 0;
}

.dropdownButtonGroup .dropdown-menu {
	transform: translate3d(0px, 53px, 0px) !important;
	background-color: var(--card-background-color);
}

.dropdownButtonGroup .dropdown-menu .dropdown-item {
    padding: 0.25rem 0.7rem;
	font-weight: bold;
	background-color: var(--card-background-color);
	color: var(--text-color-other);
}

.dropdownButtonGroup {
    margin-bottom: 1.2rem;
}

.dropdownButtonGroupContainer .form-control {
    width: 11em;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none !important;
    display: initial;
}

.dropdownButtonGroupContainer .form-control::selection {
    background: var(--card-highlight-color);
}

.dropdownButtonGroupContainer .form-control:focus {
    box-shadow: 0 0 0 0.1rem var(--card-highlight-color) !important;
}

.dropdownButtonGroupContainer input::placeholder {
    opacity:1;
    transition: opacity 0.17s ease;
}

.dropdownButtonGroupContainer input[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.17s ease;
    opacity: 0;
  }

.dropdownButtonGroupContainer input[placeholder]:focus::-moz-placeholder {
    transition: opacity 0.17s ease;
    opacity: 0;
  }

.okButton {
    margin-left: 1rem;
    border-top: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    background-color: var(--brand-color);
    border-radius: 0.5rem !important;
    border: none;
    box-shadow: 0 6px var(--dropdown-border-color);
    font-size: 0.9em;
    vertical-align: top;
  }

.okButton:active{
    background-color: var(--brand-color) !important;
    transform: translateY(2px);
    box-shadow: 0 6px var(--dropdown-border-color) !important;
    border: none;
}

.okButton:hover{
    background-color: var(--brand-color) !important;
    border-color: var(--dropdown-border-color) !important;
    background-color: var(--brand-color) !important;
}

.okButton:focus{
    box-shadow: 0 6px var(--dropdown-border-color) !important;
}
