.timetableContainer {
	width: 100%;
	overflow-x: auto;
}

.timetable {
	width: 100%;
	/* border-radius: 0.7rem; */
	/* border: none !important; */
}

.timetable tr, 
.timetable td, 
.timetable th {
	border: none !important;
	padding: 5px;
}

.timetableTheoryHours {

}

.timetableLabHours {

}

.timetableBody td {
	background-color: var(--select-table-background-color);
}

.timetableBody td {
	/* border: 1px solid black !important; */
	text-align: center;
	padding: 5px;
}

.timetableBody tr {
	border: none !important;
	/* text-align: center; */
	/* padding: 5px; */
}

.timetableHeader1 td {
	background-color: var(--brand-color);
}

.timetableHeader2 td {
	background-color: var(--brand-color);
}

td.timetableDay {
	background-color: var(--timetable-col1-color);
}

.timetableEmpty {

}

td.timetableFilledTheory {
	background-color: var(--timetable-theory-color);
}

td.timetableFilledLab {
	background-color: var(--timetable-lab-color);

}

table tr:last-child td:first-child {
	border-bottom-left-radius: 0.7rem;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 0.7rem;
}

table tr:first-child td:first-child {
	border-top-left-radius: 0.7rem;
}

table tr:first-child td:last-child {
	border-top-right-radius: 0.7rem;
}