.timetableContainer {

}

.timetable {
	
}

.timetableHeader1 {
	background-color: var(--card-header-color);
}

.timetableHeader2 {
	background-color: var(--card-header-color);
}

.timetableDay {
	background-color: lightgrey;
}

.timetableTheoryHours {

}

.timetableLabHours {

}

.timetableBody {
	background-color: var(--card-background-color);
}

.timetableBody td {
	border: 1px solid black !important;
	text-align: center;
}

.timetableEmpty {

}

.timetableFilledTheory {
	background-color: lightpink;
}

.timetableFilledLab {
	background-color: greenyellow;

}