.timetableContainer {
	font-family: 'Montserrat', sans-serif;
	padding-right: 0;
	padding-left: 1.87rem !important;
	
}


.timetableA {
	/* width: 100%; */
	/* border-radius: 0.7rem; */
	float: left;
	height: 574px;
}

.timetableB {
	/* width: 100%; */
	float: left;
	height: 574px;
	margin-left: 1rem;
}

.timetableA tr, 
.timetableA td, 
.timetableA th,
.timetableB tr, 
.timetableB td, 
.timetableB th {
	border: none !important;
	padding: 5px;
}

.timetableTheoryHours {

}

.timetableLabHours {

}

.timetableBody td {
	background-color: var(--select-table-background-color);
}

.timetableBody td {
	text-align: center;
	padding: 5px;
	height: 96px;
	width: 7.2vw;
	max-width: 7.2vw;
}

.timetableBody tr {
	border: none !important;
	/* text-align: center; */
	/* padding: 5px; */
}

.timetableHeader1A td {
	background-color: var(--brand-color);
}

.timetableHeader2A td {
	background-color: var(--brand-color);
}

.timetableHeader1B td {
	background-color: var(--brand-color);
}

.timetableHeader2B td {
	background-color: var(--brand-color);
}


td.timetableDay {
	background-color: var(--timetable-col1-color);
	width: 6vw;
}

.timetableEmpty {

}

td.timetableFilledTheory {
	background-color: var(--timetable-theory-color);
	font-size: 0.9em;
}

td.timetableFilledLab {
	background-color: var(--timetable-lab-color);
	font-size: 0.9em;

}

table tr:last-child td:first-child {
	border-bottom-left-radius: 0.7rem;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 0.7rem;
}

table tr:first-child td:first-child {
	border-top-left-radius: 0.7rem;
}

table tr:first-child td:last-child {
	border-top-right-radius: 0.7rem;
}



@media only screen and (max-width: 1063px) {

	.timetableA {
		float: left;
		height: 574px;
	}

	.timetableB {
		float: right;
		height: 574px;
		margin-left: 0;
	}

	/* .timetableBody td {
		height: 96px;
		max-width: 100%;
	} */

	.timetableContainer {
		overflow-x: scroll;
	}

}